.page {
  background: white;
  border-radius: 20px;
  box-shadow: 0 4px 19px rgba(0, 0, 0, 0.8);
  left: 20px;
  max-height: 721px;
  max-width: 824px;
  position: relative;
  right: 20px;
  top: 20px;
}
